.header
  width: 100%
  height: 3rem
  padding: 0.25rem
  background-color: gray
  display: flex
  justify-content: space-between

.btn-containers
  width: fit-content
  margin-right: 1rem

.user-name
  p
    font-weight: bold
    margin-left: 1rem
