<div class="container">
  <div>
    <!-- Fresh tasks -->
    <div *ngIf="freshTasks.length">
      <h3>To Do</h3>
      <ul>
        <li *ngFor="let task of freshTasks">
          <input type="checkbox" [checked]="false" (click)="finishTask(task)" />
          <p>{{ task.description }}</p>
        </li>
      </ul>
    </div>

    <hr *ngIf="freshTasks.length && finishedTasks.length" />

    <!-- Finished tasks -->
    <div *ngIf="finishedTasks.length">
      <h3>Done</h3>
      <ul>
        <li *ngFor="let task of finishedTasks" class="tooltip">
          <input type="checkbox" [checked]="true" disabled />
          <div class="tooltip">
            <p>{{ task.description }}</p>
            <span class="tooltiptext">{{
              task.terminationDate | date: "yyyy/MM/dd"
            }}</span>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="task-footer">
    <hr />
    <div class="task-footer-inp-container">
      <input
        id="ipnt-task-newtask"
        type="text"
        [(ngModel)]="newTaskDescription"
        (keyup.enter)="addTask(newTaskDescription)"
      />
      <button
        id="btn-task-create"
        type="button"
        (click)="addTask(newTaskDescription)"
      >
        ADD
      </button>
    </div>
  </div>
</div>
