.container-card
  margin: 1rem 2rem
  display: flex
  align-items: flex-start
  justify-content: space-evenly

.card
  border: 1px solid black
  border-radius: .25rem
  width: 15rem

  .card-header
    background-color: darkgray
    color: black
    padding: .75rem .5rem
    border-radius: .25rem .25rem 0 0
    font-weight: bold
    display: flex
    justify-content: space-between
    align-items: center

    p
      margin: 0

  .card-section
    padding: .5rem
    border-radius: 0 0 .25rem .25rem
