<div class="container-card">
  <div class="card" *ngFor="let project of projects | keyvalue">
    <div class="card-header">
      <!-- Title or editing title -->
      <input
        *ngIf="
          editingProj[project.value.name];
          else noEditState;
          let editingProject
        "
        id="inp-project-edit-{{ project.value.name }}"
        type="text"
        class="edit-project"
        [(ngModel)]="editingProject.newName"
        (keyup.enter)="saveEdition(project.value.name)"
      />
      <ng-template #noEditState>
        <p>{{ project.value.name }}</p>
      </ng-template>

      <!-- Interactions with the Card -->
      <div>
        <button
          id="btn-proj-toggle-edit"
          type="button"
          class="icon-btn"
          (click)="editMe(project.key)"
        >
          <img
            *ngIf="!editingProj[project.value.name]"
            src="../../../assets/edit.svg"
          />
          <img
            *ngIf="editingProj[project.value.name]"
            src="../../../assets/save.svg"
          />
        </button>
        <button
          id="btn-proj-delete"
          type="button"
          class="icon-btn"
          (click)="deleteProject(project.value.name)"
        >
          <img src="../../../assets/trash.svg" />
        </button>
      </div>
    </div>

    <div class="card-section">
      <app-task
        [tasks]="getTasksArray(project.key)"
        [projName]="project.key"
        (taskChange)="updateTasks(project.key, $event)"
      ></app-task>
    </div>

    <div class="card-footer">
      <p>@ {{ project.value.creationDate | date: "yyyy/MM/dd HH:mm:ss" }}</p>
    </div>
  </div>
</div>
